.expander {  cursor: pointer; -moz-user-select: none  }

.expander-plus {   color: red  }

.expander-closed .expander {  color: blue  }

.expander-closed .expander-content {   display: none  }

.expander-popup .expander { color: green }

.expander-popup .expander-content {   display: none  }

*[class~=expander-popup]:hover > .expander-content
{
	display: block;
	border: 1px dotted #000;
	position: relative;
/*
	left:20px;
	width:90%;
	max-width:90%;
*/
	margin-left: 20px;
	text-align:justify;
	background-color: #B0FFB0
}

.expander-open > .expander-content
{
	display: block;
}

.expander-open .expander-content
{
	position: relative;
/*
	left:20px;
	width:90%;
	max-width:90%;
*/
	margin-left: 20px;
	text-align:justify;
}

.expander-deepopen .expander { color: gray }

.expander-deepopen .expander-content
{
	display: block;
	position: relative;
/*
	left:20px;
	width:90%;
	max-width:90%;
*/
	margin-left: 20px;
	text-align:justify;
}

.highlight
{
	border: thin dotted rgb(0,0,0);
	background-color: yellow;
}

/*
*[class~=expander-popup]:hover *[class~=expander-content]:hover { display: block }
.expander-popup *[class~=expander]:hover + .expander-content { display: block }

.expander-popup .expander + *[class~=expander-content]:hover { display: block }
*/

/* From intellinuxwireless */

a[href] {
	padding-right: 0px;
	background: none;
}

a[href ^="ftp://"] {
	background: url('link.png') center right no-repeat;
	padding-right: 13px;
}

a[href ^="http://"] {
	background: url('link.png') center right no-repeat;
	padding-right: 13px;
}
