.expander {  cursor: pointer; -moz-user-select: none  }

.expander-plus {   color: red  }

.expander-closed .expander {  color: blue  }

.expander-closed .expander-content {   display: none  }

.expander-popup .expander { color: green }

.expander-popup .expander-content {   display: none  }

*[class~=expander-popup]:hover > .expander-content
{
	display: block;
	border: 1px dotted #000;
	position: relative;
	left:20px;
	background-color: #B0FFB0
}

.expander-open > .expander-content
{
	display: block;
	position: relative;
	left:20px;
}

.expander-deepopen .expander { color: gray }

.expander-deepopen .expander-content
{
	display: block;
	position: relative;
	left:20px;
}


/*
*[class~=expander-popup]:hover *[class~=expander-content]:hover { display: block }
.expander-popup *[class~=expander]:hover + .expander-content { display: block }

.expander-popup .expander + *[class~=expander-content]:hover { display: block }
*/
